<!DOCTYPE html>
<html ng-app="tttApp">
<head>
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="scripts/ang.js" type="text/javascript"></script>
    <style>
        body {
            position: relative;
        }
        .board {
        }
        .sq {
            background: #F8F8F8;
            width: 150px;
            height: 150px;
            position: relative;
            float: left;
            border: #CCC 1px solid;
        }
        .takenSq {
            background: #F2F2F2;
        }

        .glyphicon:empty {
            font-size: 10em;
        }
    </style>
</head>
<body>
    <div class="container" ng-controller="tttController">
        <div class="row">
            <div class="alert alert-success" ng-show="winner != ''"><strong>CONGRATULATIONS PLAYER {{ winner }}!!!</strong> you won</div>
            <div class="alert alert-warning" ng-show="draw_game"><strong>This is going nowhere guys, sorry. It's a draw!</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h2>Player A</h2>
                    <div class="alert alert-info" ng-show="whos_turn == 'A'">Your Turn</div>
                </div>
                <div class="col-md-8 center-content">
                    <div class="sq" ng-repeat="r in board">
                        <div class="sq" ng-repeat="c in r"
                             ng-click="report_move({'r': $parent.$index,'c': $index})">
                            <span class="glyphicon glyphicon-record" ng-show="c.owner=='A'"></span>
                            <span class="glyphicon glyphicon-remove-circle" ng-show="c.owner=='B'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h2>Player B</h2>
                    <div class="alert alert-info" ng-show="whos_turn == 'B'">Your Turn</div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>